

/* Background image */

#bodyOne {
    background-image: url(../multimedia/backgroundimage.png);
    background-repeat: no-repeat;
    background-position: top left;

    @media screen and (max-width:1200px) {
        background-image: none;
        
    }

    @media screen and (max-width:450px) {
        background-image: url(../multimedia/450pxindex.png);
        background-repeat: no-repeat;
        background-position: top left;
        
    }

}

#bodyTwo {
    background-image: url(../multimedia/backgroundimagecuatro.png);
    background-repeat: no-repeat;
    background-position: top left;

    @media screen and (max-width:450px) {
        background-image: url(../multimedia/450pxcontactos.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        
    }
}

#bodyThree {
    background-image: url(../multimedia/backgroundimagetres.png);
    background-repeat: no-repeat;
    background-position: top right;

    @media screen and (max-width:450px) {
        background-image: none;
        background-repeat: no-repeat;
        background-position: bottom left;
    }
}

#bodyFour {
    background-image: url(../multimedia/backgroundimagedos.png);
    background-repeat: no-repeat;
    background-position: top right;

    @media screen and (max-width:450px) {
        background-image: none;
        background-repeat: no-repeat;
        background-position: bottom left;
    }
}

/* End Background image */

