/* inicio carousel*/

.sectionCarousel {
    width: 100%;


    @media screen and (max-width:950px) {
        padding-top: 55px;
    }
}

.containerHunoIndex {
    display: flex;
    justify-content: center;

}

.hunoIndex {
    background-color: $color-two;
    display: flex;
    color: white;
    padding: 0.3em;
    margin-top: 3.5em;
    font-weight: 800;
    position:absolute;
    font-size: 5em;
    z-index: 99;

        @media screen and (max-width:450px)  {

            font-size: 1em;
            margin-top: 9em;
            
        }

}

/* fin carousel*/