@import "../base/variables";


.containerHunoTrabajos {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width:450px)  {
        

        display:flex ;
        justify-content: center;

    }

}

.hunoTrabajos {
    width: 500px;
    background-color: $color-one;
    display: flex;
    color: black;
    padding: 0.3em;
    margin-top: 2.5em;
    font-weight: 800;
    position:absolute;
    font-size: 3em;
    z-index: 99;

        @media screen and (max-width:450px)  {
            

            font-size: 1em;
            margin-top: 9em;
            width: 200px;

            text-align: center;

        }

    }

    .galeriaDeFotos {
        padding-top: 24em;
        padding-left: 13em;
        padding-right: 10em;
        padding-bottom: 15em;

            @media screen and (max-width:450px) {
                padding-top: 15em;
            }       
    }


    .tituloGaleria {
        color: $color-three;
        font-family: 'Raleway', sans-serif;
        font-size: map-get($tituloSecciones , sizeFontTitle );
        font-weight:map-get($tituloSecciones , fontWeightTitle );
        margin-bottom: 0.5em;
    
    
        @media screen and (max-width:450px) {
            font-size: 2.5em;
            text-align: center;
            margin-bottom: 1em;
    
        
            }     
    }


    .fotosGrid {
        
        width: 100%;
        height: 800px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 15px 15px; 
        grid-template-areas: 
          "foto-1 foto-1 foto2"
          "foto-1 foto-1 foto-4"
          "foto-3 foto-3 foto-3"; 
      }

      