/* NOSOTROS */

.quienesSomosContent {
    padding-top: 20em;
    margin-left: 4em;

    @media screen and (max-width:450px) {
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15em;
        padding-bottom: 3em;
        
    }

}

.parrafoQuienesSomosSection {
    margin-right: 15em;
    margin-left: 1em;
    font-family: 'Raleway', sans-serif;
    font-size: map-get($cuerpo-de-texto , sizeFont);
    font-weight: map-get($cuerpo-de-texto , fontWeight);

    @media screen and (max-width:450px) {
        margin: 0;
        margin-bottom: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }

    

}

.titleQuienesSomosPage {
    color: $color-three;
    font-family: 'Raleway', sans-serif;
    font-size: map-get($tituloSecciones , sizeFontTitle );
    font-weight:map-get($tituloSecciones , fontWeightTitle );
    margin-bottom: 0.3em;
    margin-left: 0.3em;

    @media screen and (max-width:450px) {
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 1em;

    
        }     



}

.tituloParrafoContainer {
    margin-bottom: 6em;
    margin-right: 40em;


        @media screen and (max-width:450px) {
            margin: 0;

        }


}

.parrafoUnoNosotros {
    margin-bottom: 1em;
}


.containerHunoNosotros {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width:450px)  {
        

        display:flex ;
        justify-content: center;

    }



}

.hunoNosotros {
    width: 500px;
    background-color: $color-three;
    display: flex;
    color: white;
    padding: 0.3em;
    margin-top: 2.5em;
    font-weight: 800;
    position:absolute;
    font-size: 3em;
    z-index: 99;

    @media screen and (max-width:450px) {
        display: flex;  
        justify-content: center;
        

        font-size: 1em;
        margin-top: 9em;
        width: 200px;

        text-align: center;
    }
}

/* fin nosotros */
