/* inicio seccion productos main*/

.nuestrosProductos {
    padding-top: 3em;
    padding-left: 10em;
    width: 100%;

        @media screen and (max-width:450px) {
            display: flex;  
            flex-wrap: wrap;
            
            padding-left: 0;
        }



     

}

.conteinerProductosDestacados {
    display: flex;

    @media screen and (max-width:450px) {
        display: flex;  
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

}




.productosDestacados {
    margin-right: 5em;

    @media screen and (max-width:450px) {
        margin-right: 0;

    
        }       
  
    


}

.nuestrosProductosTitle {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4em;
    margin-bottom: 0.6em;


    @media screen and (max-width:450px) {
        font-size: 2.5em;
        text-align: center;

    
        }       
    
}

.textoProductos {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.8em;

    @media screen and (max-width:450px) {
        font-size: 1.5em;

    }
    
}

.titulosProductos {
    color: white;
    margin-top: 0.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5em;   
    
    @media screen and (max-width:1200px) {
        font-size: 2em;

    }
}

.productosDestacadosButon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    
    @media screen and (max-width:450px) {
        display: flex;  
        align-items: center;
        justify-content: center;
    
        }   

}

.verMasButon {

    display: flex;
    align-items: center;
    background-color: white;
    padding-left: 1em;
    margin-right: 2em;

    @media screen and (max-width:450px) {
    
        margin-top: 2em;
        padding: 0;
        margin-right: 0;
    
        }   

}

.imgProductosDestacados {
        @media screen and (max-width:450px) {
            width: 70%;
            
        
            }           

}

.verMasTextButon {
    
    min-width: 200px;
    margin-right: 0.3em;
    font-size: 2.7em;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

    @media screen and (max-width:450px) {
        font-size: 2em;
        margin: 0;
    
        }   
}

.imageButonProductos {
    width: 50px;

        @media screen and (max-width:450px) {
            width: 50%;
        }

    


}

/*fin seccion productos main*/