/* inicio seccion productos main*/

.nuestrosProductos {
    padding-top: 5em;
    padding-left: 10em;
    width: 100%;

    @media screen and (max-width:1400px) {
        padding-top: 2em;
    }

    @media screen and (max-width:1000px) {
        padding-left: 6em;
        padding-top: 6em;
    
        }   

     

}

.conteinerProductosDestacados {
    display: flex;

    @media screen and (max-width:1700px) {
        display: flex;  
        flex-wrap: wrap;
    }

}




.productosDestacados {
    margin-right: 5em;

    @media screen and (max-width:1550px) {
    margin-right: 3em;

    }   

    @media screen and (max-width:1300px) {
        margin-right: 2em;
    
    }   

    @media screen and (max-width:1300px) {
        margin-right: 1em;
    
    }  
    
    @media screen and (max-width:1200x) {
        margin-right: 3em;
    
    }    
    


}

.nuestrosProductosTitle {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4em;
    margin-bottom: 0.6em;

    @media screen and (max-width:1000px) {
        font-size: 3em;
        margin-right: 3em;
    
        }   

    @media screen and (max-width:600px) {
        font-size: 2.5em;
    
        }       
    
}

.textoProductos {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.8em;

    @media screen and (max-width:1200px) {
        font-size: 1.5em;

    }
    
}

.titulosProductos {
    color: white;
    margin-top: 0.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5em;   
    
    @media screen and (max-width:1200px) {
        font-size: 2em;

    }
}

.productosDestacadosButon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    
    @media screen and (max-width:1200px) {
        display: flex;  
        align-items: center;
    
        }   

}

.verMasButon {

    display: flex;
    align-items: center;
    background-color: white;
    padding-left: 1em;
    margin-right: 2em;

    @media screen and (max-width:1700px) {
        margin-top: 4em;
    
        }   

}

.imgProductosDestacados {
        @media screen and (max-width:1300px) {
            width: 80%;
        
            }           

}

.verMasTextButon {
    
    min-width: 200px;
    margin-right: 0.3em;
    font-size: 2.7em;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.imageButonProductos {
    width: 50px;


    


}

/*fin seccion productos main*/