
/*Variables colores */

$color-one: yellow;
$color-two: rgb(255, 0, 126);
$color-three: rgb(0, 158, 226);

/*Variables texto*/ /* mapa */

$cuerpo-de-texto: (
    sizeFont: 1.4em,
    fontWeight: 400
);

$tituloSecciones: (
    sizeFontTitle: 4em, 
    fontWeightTitle: 700

);



